.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title {
  color: var(--text);
  font-size: 40px;
  font-weight: bold;
}
.form {
}
.btn {
  padding: 20px;
  background-color: var(--bgSoft);
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 10px;
}
.btn:hover {
  background-color: var(--btn);
}
