.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  color: #3c3c3c;
  font-weight: bold;
}
.username {
  font-weight: 500;
}
